---
let experience = [
    {
        date: "Mayo 2024 - Actualidad.",
        rol: "DESARROLLADOR FRONTEND",
        company: "NTT DATA Europe & Latam",
        link: "https://co.nttdata.com/",
        description:
            "Colaborar con diseñadores UI/UX para traducir wireframes y prototipos en componentes de interfaz. Mejorar la experiencia del usuario mediante el análisis y la implementación de soluciones que alineen el desarollo web con el diseño de cada página. Crear y mantener interfaces de usuario atractivas y funcionales utilizando HTML, CSS y JavaScript. Implementar principios de diseño centrado en el usuario para mejorar la experiencia y la interacción en la web.",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "React.js",
            "NodeJS",
            "Git",
            "Bootstrap",
            "Liferay"
        ],
    },
    {
        date: "Abril 2024 — Mayo 2024",
        rol: "DESARROLLADOR FULLSTACK SS",
        company: "Finanzauto S.A",
        link: "https://www.finanzauto.com.co/portal/",
        description:
            "Construcción de plataformas web tanto privadas como publicas que ofrecen diversas herramientas y recursos para todo el stuff de Finanzauto, desarrolladas con tecnologías actualizadas y de alta calidad dando como resultado la productividad y optimización de la intranet de la compañía.",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "React.js",
            "NodeJS",
            "Git",
            "Webpack & Vite",
            "Astro.js",
            "Zustand",
            "Zod",
            "TailwindCSS",
        ],
    },
    {
        date: "Nov 2020 — Marzo 2024",
        rol: "LÍDER DESARROLLO FRONTEND,  DESARROLLADOR FRONTEND",
        company: "Ariadna Communications Group",
        description:
            "Construí, lideré y desplegué sitios web de alta calidad, desarrollé aplicaciones y creé experiencias digitales para una amplia gama de proyectos para clientes, incluyendo PROColombia, Red Bull, LG, UniAndes, UniMinuto, Alcaldía de Bogotá, CEPAL, Quala, Hisense, ENEL, Palace Resort y más. Proporcioné soluciones y apoyo en cada fase de los proyectos, aplicaciones y/o sitios web, participando activamente a través de una estrecha colaboración entre equipos de diseño, back-end, infraestructura, QA y Webmaster. Utilicé tecnologías como:",
        link: "https://www.ariadnacommunicationsgroup.com/es",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "React.js",
            "Next.js",
            "React Native",
            "Wordpress",
            "Drupal",
            "Node.js",
            "Express.js",
            "jQuery",
            "Python Django",
            "Git",
            "Docker",
            "Webpack & Vitejs & Rollup & Esbuild",
        ],
    },
    {
        date: "Mayo 2020 - Julio 2020",
        rol: "DESARROLLADOR FRONTEND",
        company: "Corporativos Web",
        description:
            "Desarrollo y maquetación eficiente de interfaz de usuario (UI) con Angular 9 en modalidad freelance. Poseo habilidades sólidas en CSS, SASS y Bootstrap para crear diseños atractivos y responsivos. Utilizo TypeScript para el manejo de datos estáticos y me apoyo en herramientas de control de versiones como GIT.",
        link: "https://corporativosweb.com/",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "Bootstrap",
            "Angular v9+",
        ],
    },
    {
        date: "Enero 2020- Septiembre 2020",
        rol: "Desarrollador web ",
        company: "INADISA",
        link: "https://www.inadisa.com/es/",
        description:
            "Programación de protocolos de inspección en Excel con Visual Basic. Poseo un dominio avanzado de herramientas ofimáticas, especialmente Excel. Además, tengo experiencia en el desarrollo de interfaces de usuario (UI). Me he capacitado en Desarrollo Web, con un enfoque en la automatización, eficiencia y calidad en procesos relevantes dentro de la empresa.",
        skills: ["HTML", "CSS", "Visual Basic", "JavaScript", "Excel"],
    },
];
---

<section
    id="experience"
    class="mb-16 scroll-mt-12 md:mb-24 lg:mb-36 lg:scroll-mt-24"
    aria-label="Work experience"
>
    <div
        class="sticky lg:relative top-0 z-20 -mx-6 mb-4 w-full bg-transparent px-6 py-5 backdrop-blur md:-mx-12 md:px-12"
    >
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200">
            Experiencias
        </h2>
    </div>
    <div>
        <ol class="group/list">
            {
                experience.map((exp, i) => {
                    let { date, company, description, rol, skills, link } = exp;

                    return (
                        <li class="mb-12">
                            <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                                <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/85 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg" />
                                <header
                                    class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
                                    aria-label="2018 to Present"
                                >
                                    {date}
                                </header>
                                <div class="z-10 sm:col-span-6">
                                    <>
                                        <h3 class="font-medium max-w-sm leading-snug text-slate-200">
                                            <div>
                                                <a
                                                    class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link text-base"
                                                    href={link}
                                                    target="_blank"
                                                    rel="noreferrer noopener"
                                                    aria-label="Lead Engineer at Upstatement (opens in a new tab)"
                                                >
                                                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block" />
                                                    <span>
                                                        {rol}
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 20 20"
                                                            fill="currentColor"
                                                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                fill-rule="evenodd"
                                                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                clip-rule="evenodd"
                                                            />
                                                        </svg>
                                                        <span class="block">
                                                            {company}
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </h3>
                                        <p class="mt-2 text-sm leading-normal">
                                            {description}
                                        </p>
                                    </>
                                    <ul
                                        class="mt-2 flex flex-wrap"
                                        aria-label="Tec hnologies used"
                                    >
                                        {skills.map((skill, i) => {
                                            return (
                                                <li class="mr-1.5 mt-2">
                                                    <div class="flex items-center rounded-full bg-orange-500/10 px-3 py-1 text-xs font-medium leading-5 text-orange-500">
                                                        {skill}
                                                    </div>
                                                </li>
                                            );
                                        })}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    );
                })
            }
        </ol>
        <div class="mt-12">
            <a
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link text-base"
                href="/curriculum.pdf"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="View Full Résumé (opens in a new tab)"
                ><span
                    >Ver Curriculum <span class="inline-block"
                        >Completo<svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                            ><path
                                fill-rule="evenodd"
                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                clip-rule="evenodd"></path></svg
                        ></span
                    ></span
                ></a
            >
        </div>
    </div>
</section>
