---
let experience = [
    {
        date: "Mayo 2024 - Actualidad.",
        rol: "FRONTEND ENGINEER",
        company: "NTT DATA Europe & Latam",
        link: "https://co.nttdata.com/",
        description:
            "Abarco nuevas soluciones o implementaciones que son planificadas y refinadas desde cliente, pasando por diferentes frentes tales como diseño, back, gestión en una estrecha colaboración para definir alcances y/o propósitos. Desarrollo componentes complejos optimizados a la experiencia de usuario en frameworks como ReactJs, ReactNative, Angular. Desarrollo interfaces de usuario responsivas, enfocándome en la experiencia y usabilidad del usuario consumiendo servicios mediante prótocolo APIRest y GraphQL, control de versiones de código con herramientas GIT, al igual qué despliegues e integraciones continuas en plataformas con Microsoft Azure, Bitbucket.",
        skills: [
            "JavaScript",
            "TypeScript",
            "Angular",
            "HTML & CSS",
            "SCSS",
            "Tailwind",
            "Jest",
            "Vitest",
            "Vite",
            "Webpack",
            "React.js",
            "NodeJS",
            "Git",
            "Bootstrap",
            "Liferay",
            "Salesforce",
            "React Native",
            "NgRx",
        ],
    },
    {
        date: "Abril 2024 — Mayo 2024",
        rol: "DESARROLLADOR FRONTEND SENIOR",
        company: "Finanzauto S.A",
        link: "https://www.finanzauto.com.co/portal/",
        description:
            "Desarrollé y dí soporte a plataformas web internas de Finanzauto, con tecnologías Typescript, React, Nodejs, Sass y T ailwindcss. Integré mediante protocolo APIRest servicios construídos en .NetCore y Node.js, garantizando escalabilidad y mantenibilidad. Gestioné integraciones de sistemas de pago y autenticación OAuth 2.0 en distintas plataformas.",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "React.js",
            "NodeJS",
            "Git",
            "Webpack",
            "Zustand",
            "Zod",
            "TailwindCSS",
            "APIRest .Net"
        ],
    },
    {
        date: "Nov 2020 — Marzo 2024",
        rol: "LÍDER DESARROLLO FRONTEND - DESARROLLADOR FRONTEND",
        company: "Ariadna Communications Group",
        description:
            "Desarrollé, diseñe sitios web, sistemas de diseño, aplicaciones móviles y experiencias digitales para una amplia gama de clientes utilizando tecnologías como JavaScript, T ypeScript, React, CSS, Drupal, NextJS, Angular, JQuery. Lideré un equipo de 5 frontends encargado de gestionar y optimizar los proyectos y implementaciones de la empresa, logrando resultados significativos en solucion de errores, seguimiento de reportes y calidad de desarrollo. Lideré iniciativas de productividad en el equipo, como la creación de documentación para las mejores prácticas, elestablecimiento de una lista de componentes estándar para la optimización de tiempos para los desarrolladores.Trabajé junto con gerentes de productos y proyectos, diseñadores y otros ingenieros para transformar conceptos creativos en experiencias digitales refinadas con una metodología ágil (SCRUM).",
        link: "https://www.ariadnacommunicationsgroup.com/es",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "React.js",
            "Next.js",
            "React Native",
            "Wordpress",
            "Drupal",
            "Node.js",
            "Express.js",
            "jQuery",
            "Python Django",
            "Git",
            "Docker",
            "Webpack & Vitejs & Rollup & Esbuild",
        ],
    },
    {
        date: "Mayo 2020 - Julio 2020",
        rol: "DESARROLLADOR FRONTEND",
        company: "Corporativos Web",
        description:
            "Desarrollé y maqueté interfaces de usuario (UI) utilizando Angular 9 en modalidad freelance, aplicación de habilidades sólidas en CSS, SASS y Bootstrap para crear diseños atractivos y responsivos. Utilicé herramientas de control de versiones GIT para gestionar eficientemente el código fuente. Manejé T ypeScript para gestión de datos estáticos, garantizando la integridad y eficiencia del sistema, así como la escalabilidad del código.",
        link: "https://corporativosweb.com/",
        skills: [
            "JavaScript",
            "TypeScript",
            "HTML & CSS",
            "SCSS",
            "Bootstrap",
            "Angular v9+",
        ],
    },
    {
        date: "Enero 2020- Septiembre 2020",
        rol: "Desarrollador web ",
        company: "INADISA",
        link: "https://www.inadisa.com/es/",
        description:
            "Desarrollé y maqueté interfaces de usuario (UI) utilizando HTML, CSS, JS, frameworks como ReactJS y Angular. Programé protocolos de inspección en Excel utilizando Visual Basic. Apoyé desarrollo frontend adquiriendo habilidades en tecnologías vanguardistas para crear soluciones digitales innovadoras.",
        skills: ["HTML", "CSS", "Visual Basic", "JavaScript", "Excel"],
    },
];
---

<section
    id="experience"
    class="mb-16 scroll-mt-12 md:mb-24 lg:mb-36 lg:scroll-mt-24"
    aria-label="Work experience"
>
    <div
        class="sticky lg:relative top-0 z-20 w-full bg-transparent px-5 py-5 backdrop-blur mb-5 rounded-b-3xl rounded-bl-3xl md:pl-0"
    >
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200">
            Experiencias
        </h2>
    </div>
    <div>
        <ol class="group/list">
            {
                experience.map((exp, i) => {
                    let { date, company, description, rol, skills, link } = exp;

                    return (
                        <li class="mb-12">
                            <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                                <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/85 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg" />
                                <header
                                    class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-400 sm:col-span-2"
                                    aria-label="2018 to Present"
                                >
                                    {date}
                                </header>
                                <div class="z-10 sm:col-span-6">
                                    <>
                                        <h3 class="font-medium max-w-sm leading-snug text-slate-200">
                                            <div>
                                                <a
                                                    class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link text-base"
                                                    href={link}
                                                    target="_blank"
                                                    rel="noreferrer noopener"
                                                    aria-label="Lead Engineer at Upstatement (opens in a new tab)"
                                                >
                                                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block" />
                                                    <span>
                                                        {rol}
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 20 20"
                                                            fill="currentColor"
                                                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                fill-rule="evenodd"
                                                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                clip-rule="evenodd"
                                                            />
                                                        </svg>
                                                        <span class="block pt-1 pb-2 text-[13px] text-slate-400 italic">
                                                            {company}
                                                        </span>
                                                    </span> 
                                                </a>
                                            </div>
                                        </h3>
                                        <p class="mt-2 text-sm leading-normal">
                                            {description}
                                        </p>
                                    </>
                                    <ul
                                        class="mt-2 flex flex-wrap"
                                        aria-label="Tec hnologies used"
                                    >
                                        {skills.map((skill, i) => {
                                            return (
                                                <li class="mr-1.5 mt-2">
                                                    <div class="flex items-center rounded-full bg-orange-500/10 px-3 py-1 text-xs font-medium leading-5 text-orange-500">
                                                        {skill}
                                                    </div>
                                                </li>
                                            );
                                        })}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    );
                })
            }
        </ol>
        <div class="mt-12">
            <a
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link text-base"
                href="/curriculum.pdf"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="View Full Résumé (opens in a new tab)"
                ><span
                    >Ver Curriculum <span class="inline-block"
                        >Completo<svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                            ><path
                                fill-rule="evenodd"
                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                clip-rule="evenodd"></path></svg
                        ></span
                    ></span
                ></a
            >
        </div>
    </div>
</section>
