---
let projects = [
    {
        title: "Cotizador Seguro Arriendos - Ecommerce SURA",
        category: "Seguros",
        description:
            "Desarrollo front de plataformas digitales de extremo a extremo para la cotización, estudio financiero, contratación y pago del Seguro de Arrendamiento, Viajes y/o Movilidad (Motos / Autos) de Suramericana S.A. (SURA), operando sobre el canal de e-commerce corporativo. Eliminando por completo la intermediación presencial y el flujo tradicional de papeleo, permitiendo que propietarios e inquilinos completen el proceso contractual de manera 100% digital. Con tecnologias tales como: Angular, Sass, NgRx y TypeScript.",
        thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfLhbiVqTDyz0-VhNDQ4eXW-hnCWpBw6tDaQ&s",
        branding: "Colaboración para NTT DATA Europe & Latam",
        link:"https://ecomm.sura.co/seguros/hogar/arriendo/cotizador",
    },
    {
        title: "EAAB - Acueducto y Alcantarillado de Bogotá.",
        category: "Gubernamental",
        description:
            "Apoye la migración del portal web completo de la Empresa de Acueducto de Bogotá, migrando de tecnologías IBM a Liferay CD 7.4, creando templates y/o pantillas de visualición además de compenentes complejos escalables en tecnologías como Javascript ES6, jQuery, Css, Sass",
        thumbnail: "https://maderplas.com/wp-content/uploads/2020/10/logo-acueducto-1.jpg",
        branding: "Colaboración para NTT DATA Europe & Latam",
        link:"https://www.acueducto.com.co/wps/portal/EAB2/Home/inicio/!ut/p/z1/hY5BC4JAEIV_iwevzrRLYt22DoJEshJkewm1TQ11ZV3177fQKdjowRzmzfeGBwJyEEOxtHVhWjUUnd1vIryH_IibCMkZeYbI-S6lMb2QOKFw_QcIe8YfYmjzwoEwPGTkQBHjlDiBrx8JiLpT5acuG0oa1SC0fEotdTBrazfGjNPeRx_XdQ2KapaPuTIqqFRvx0dXsFGTgdzFw9jn-Np2y4l53hvtB_OW/dz/d5/L2dBISEvZ0FBIS9nQSEh/",

    },
    {
        title: "Ruta de la Navidad",
        category: "Corporativo",
        description:
            "Construcción y soporte de website público perteneciente ENEL y Alcadía de Bogotá, encargado de brindar información sobre los diferentes eventos dentro de la ciudad de bogotá durante la epoca de sembrina en los años 2021 - 2022, desarrollado en Drupal, jQuery, Webpack, Sass",
        thumbnail: "/rutadelanavidadlogo.jpeg",
        branding: "Colaboración para Ariadna Communications Group",
        link:"https://www.rutadelanavidad.com/",

    },
    {
        title: "Elempleo Noticias - El Tiempo",
        category: "Prensa",
        description:
            "Construcción de Microfrontend encargado de la sección de Noticias dentro del portal de elempleo.com para los paises de Colombia y Costa Rica, desarrollado en Next.js, React.js, Node, Elastic Search, Sass, Drupal Serveless y más.",
        thumbnail: "elempleologo.jpeg",
        branding: "Colaboración para Ariadna Communications Group",
        link:"https://www.elempleo.com/co/noticias",

    },
];
---

<section
    id="projects"
    class="mb-16 scroll-mt-12 md:mb-24 lg:mb-36 lg:scroll-mt-24"
    aria-label="Selected projects"
>
    <div
        class="sticky  lg:relative top-0 z-20 -mx-6 mb-4 w-full bg-transparent px-6 py-5 backdrop-blur md:-mx-12 md:px-12"
    >
        <h2
            class="text-sm font-bold uppercase tracking-widest text-slate-200 "
        >
            Proyectos Destacados
        </h2>
    </div>
    <div>
        <ul class="group/list">
            {
                projects.map((project, i) => {
                    let { title, category, description, branding,link, thumbnail } =
                        project;
                    return (
                        <li class="mb-12">
                            <div class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                                <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/85 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
                                <div class="z-10 sm:order-2 sm:col-span-6">
                                    <>
                                        <h3>
                                            <a
                                                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link text-base"
                                                href={link}
                                                target="_blank"
                                                rel="noreferrer noopener"
                                                aria-label="Build a Spotify Connected App (opens in a new tab)"
                                            >
                                                <>
                                                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block" />
                                                    <span>{title}
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 20 20"
                                                            fill="currentColor"
                                                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                fill-rule="evenodd"
                                                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                clip-rule="evenodd"
                                                            />
                                                        </svg>
                                                        <span class="block text-xs font-light italic">
                                                            {category}
                                                            
                                                        </span>
                                                        
                                                    </span>
                                                </>
                                            </a>
                                        </h3>
                                        <p class="mt-2 text-sm leading-normal ">{description}</p>
                                        <span class="mt-2 brand text-xs  text-slate-200 hover:text-orange-500 focus-visible:text-orange-500 group/link">{branding}</span>
                                    </>
                                </div>
                                <img
                                    alt=""
                                    loading="lazy"
                                    width="200"
                                    height="48"
                                    decoding="async"
                                    data-nimg="1"
                                    class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
                                    srcset=""
                                    src={ thumbnail }
                                    style="color: transparent;"
                                />
                            </div>
                        </li>
                    );
                })
            }
        </ul>
        <!-- <div class="mt-12">
            <a
                class="inline-flex items-center leading-tigh font-semibold text-slate-200 group"
                aria-label="View Full Project Archive"
                href="/archive"
                ><span
                    ><span
                        class="border-b border-transparent pb-px transition group-hover:border-teal-300 motion-reduce:transition-none"
                        >View Full Project
                    </span><span class="whitespace-nowrap"
                        ><span
                            class="border-b border-transparent pb-px transition group-hover:border-teal-300 motion-reduce:transition-none"
                            >Archive</span
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                            aria-hidden="true"
                            ><path
                                fill-rule="evenodd"
                                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                                clip-rule="evenodd"></path></svg
                        ></span
                    ></span
                ></a
            >
        </div> -->
    </div>
</section>
